body{
    background-color: rgba(11, 11, 15, 1);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0px 130px;
    box-sizing: border-box;
}

.header__logo{
    width: 110px;
    height: 16px;
}

.header__menu{
    color: white;
    font-family: inter ;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    gap: 32px;
}

.header__buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.header__buttons_button1{
    color: white;
    width: 156px;
    height: 56px;
    border-radius: 10px;
    background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter;
    cursor: pointer;
}


.header__buttons_button2{
    color: white;
    width: 156px;
    height: 56px;
    border-radius: 10px;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter;
    cursor: pointer;
}

.block{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.block__content{
    width: 780px ;
    height: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.block__content_title{
    font-family: inter;
    color: white;
    font-size: 85px;
    font-weight: 900;
    margin-left: 54px;
}

.block__content_text{
    display: flex;
    color: #898CA9;
    font-size: 16px;
    font-weight: 400;
    font-family: inter;
    width: 580px;
    justify-content: center;
}

.block__content_button{
    color: white;
    width: 156px;
    height: 56px;
    border-radius: 10px;
    background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.block__content_button:hover {
    background: linear-gradient(225deg, #6b9aa9 14.89%, #8465ab 85.85%);
}

.block__content_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px)
}


#block2 > .block__content > .block__content_title{
    font-size: 50px;
}


.block__content_image{
    width: 275px;
    height: 326px;
    top: 46px;
    left: 415px;
    gap: 0px;
    opacity: 0px;
    angle: -180 deg;
}

.block__content_horisontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

#title3{
    font-size: 59px;
    margin-left: 0;
}

#content3{
    display: flex;
    align-items: start;
}

#title4{
    font-size: 59px;
    margin-left: 0;
}

#content4{
    display: flex;
    align-items: start;
}